.App {
  text-align: center;
  min-height: 100vh;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
}

.App-header {
  font-size: calc(10px + 3vmin);
  color: #61dafb;
  font-weight: bold;
  padding: 20px;
}

